---
layout: page
title: Testimonials &amp; Case studies
permalink: /casestudies/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown: Short home page description
frontpagetitle: Case studies
archive: false
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  title: Page title
  permalink: Be careful editing this
  main_image_path: Image used to represent your page
  archive: Not used yet!
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
---
<a name="top"></a>
<p class="textcenter"><a href="#case-studies">Case studies </a> | <a href="#testimonials">Testimonials</a></p>

<section class="casestudy-intro editable"><a name="case-studies"></a>
    <p class="callout center-this-text"><strong>What do clients and partners say ? <a href="#testimonials">Read testimonials at the foot of this page</a>. Here are some case studies ...</strong></p>
</section>

{% assign casestudies = site.casestudies | where:"archive",false | sort: "order" %}

{% if casestudies %}

<section class="casestudies-current">

  <ul class="posts--list">

  {% for casestudy in casestudies %}

  <li class="post--inlist">

    <a href="{{ casestudy.url }}" title="{{ casestudy.title }}" class="post--image">
      {% if casestudy.main_image_path %}
          {% include img.html src=casestudy.main_image_path max-w=200 %}
      {% else %}
          {% include img.html src=site.placeholder_image width=150 %}
      {% endif %}
    </a>

    <div class="post--caption">
        {% if casestudy.short_description_markdown %}
        <h3>{{ casestudy.title }}</h3>
        <p>{{ casestudy.short_description_markdown | markdownify }}<br />
          <a href="{{ casestudy.url }}" title="{{ casestudy.title }}">View this case study&nbsp;&raquo;</a></p>
        {% endif %}
    </div>

  </li>
  {% endfor %}
  </ul>

</section>


{% endif %}

<section>
<div class="editable">
  <p><a name="testimonials"></a></p>
  <h3>Testimonials from the world of Health, Education, Social Care, Cultural Industries, Corporate Social Responsibility</h3>
  <p>&nbsp;</p>
  <p class="callout full-width-text">Jo fortuitously crossed my radar over five years ago when I was both a <strong><em>safeguarding governor </em></strong>of a primary School and&nbsp;<em><strong>trustee of a young person&rsquo;s charity</strong></em>. She has been an <em>outstanding<strong> sounding board</strong></em>, deftly using<em>&nbsp;her knowledge of the role of policy in organisations, to <strong>help navigate a route around&nbsp;</strong></em><strong>the firewalls</strong> that public bodies sometimes unintentionally, create. An outstanding Consultant to both organisations and individuals supporting Children &amp; Young People. She is a breath of fresh air...</p>
  <p><em>Rob Barton, Trustee, Education Charity and Director of RBA Search, <strong>Oxfordshire</strong>&nbsp;<strong>2019</strong></em></p>
  <blockquote>
    <p class="callout full-width-text"><em><strong>With strong strategic skills</strong> <strong>and an experienced grasp of public sector dynamics, Jo enables us </strong>to arrive at an informed view of what key shifts in the Public Sector mean for us&nbsp;<em>as a</em><strong><em>&nbsp;<strong>whole-organisation </strong></em>
      </strong><em>-</em><strong><em><strong>&nbsp;</strong></em>
      </strong>
      </em>to understand<em>&nbsp;the context of the national landscape as we move forward.&nbsp;<strong>She quickly demonstrates her </strong><strong>skills in capturing organisational 'essence'</strong>,<strong> </strong>understanding our unique corporate dynamics. Discreet, professional and positive, <strong>Jo&rsquo;s</strong> <strong>input</strong> <strong>helps ensure </strong><strong>we meet the challenges of sector change with confidence</strong><strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;</em><em></em></p>
    <p><em>John Diamond, CEO, national children's charity,&nbsp;<a href="__notset__">The M</a><a data-cms-editor-link-style="undefined" href="https://mulberrybush.org.uk/international-centre/#.W0iH6tVKiM8">ulberry Bush Organisation</a>&nbsp;<strong>2018</strong></em><strong>&nbsp;</strong></p>
  </blockquote>
  <blockquote>
    <p class="callout full-width-text">Jo has hugely increased our profile with business partners and government agencies alike, <strong>brokering partnerships of mutual benefit</strong> all round. Jo understands the ethos of organisations that innovate and knows how to deliver results</p><cite>Andrew Hutchinson OBE, Executive Principal, Parkside Federation, <strong>Cambridge</strong>&nbsp;<strong>2005</strong></cite></blockquote>
  <blockquote>
    <p class="callout full-width-text">KindleCo have the ability to <strong>grasp the essence of your vision and translate it into flesh and bones</strong> - we are getting opportunities we would never have discovered on our own</p><cite>Pippy Trentham, Director, </cite><a data-cms-editor-link-style="undefined" href="http://onestage.co.uk/">One Stage Concert Tours</a>, <strong>London</strong>&nbsp;<strong>2004</strong></blockquote>
  <blockquote>
    <p class="callout full-width-text"><strong>Jo brought five very diverse organisations together</strong>&nbsp;during her time at Arts Council England and shaped a project that could meet different corporate needs - the result pulled off that rare balance between&nbsp;<strong>innovation and pragmatism</strong></p><cite>Wilma Scott, Head of Employment &amp; Public Affairs, BAA&nbsp;<strong>Stansted</strong>&nbsp;<strong>2004</strong></cite></blockquote>
  <blockquote>
    <p class="callout full-width-text">Working with Jo was <strong>fruitful and positive</strong> - we took our services into areas and communities we had not worked with before</p>
    <p>Director, Business Link,&nbsp;<strong>Cambridge</strong>&nbsp;<strong><em>2001</em></strong></p>
  </blockquote>
  <blockquote>
    <p class="callout"><strong>Staying abreast of significant change in the complex eco-system</strong>&nbsp;<strong>surrounding my stakeholders</strong>, <strong>is fundamental to the success of my role </strong>in the Health Outcomes.<strong> </strong>KindleCo brought me straight up to speed on recent changes at national level but also brought valuable insights borne out of experience to the table. <strong>Jo's ability to interpret and anticipate</strong>&nbsp;the ways in which the Public Sector might work with its partner agencies going forward, was incredibly valuable in my business planning. Tailored and digestible, the support was insight-rich, when I was time poor.&nbsp;</p>
    <p><em>University Business Development Lead, <strong>Oxfordshire 2016</strong></em></p>
  </blockquote>
  <p><a href="#top">Back to top</a></p>
</div>
  </section>
